extends includes/layout.pug

block content
  - const noCardLayout = ['shuoshuo', '404'].includes(page.type) ? 'nc' : ''
  - var commentsJsLoad = false

  mixin commentLoad
    if page.comments !== false && theme.comments.use
      - commentsJsLoad = true
      !=partial('includes/third-party/comments/index', {}, {cache: true})

  #page(class=noCardLayout)
    if page.top_page && page.top_page === true
      include includes/page/change.pug
    else
      if top_img === false
        h1.page-title= page.title

    case page.type
      when 'tags'
        include includes/page/tags.pug
        +commentLoad
      when 'link'
        include includes/page/flink.pug
        +commentLoad
      when 'categories'
        include includes/page/categories.pug
        +commentLoad
      when 'equipment'
        include includes/page/equipment.pug
        +commentLoad
      when '404'
        include includes/page/404.pug
      when 'shuoshuo'
        include includes/page/shuoshuo.pug
      default
        include includes/page/default-page.pug
        +commentLoad
